---
layout: default
---
{% for post in paginator.posts %}
{% assign d = post.date | date: "%-d"  %}
{% case d %}
  {% when '1' or '21' or '31' %}{% assign ordinal = "st" %}
  {% when '2' or '22' %}{% assign ordinal = "nd" %}
  {% when '3' or '23' %}{% assign ordinal = "rd" %}
  {% else %}{% assign ordinal = "th" %}
{% endcase %}
  <article>
    <a class="summary-title" href="{{ post.url }}">
      <h2>{{ post.title }}</h2>
    </a>
    <div class="entry-container">
      <div class="entry-details">
        <strong><small>{{ site.title }}</small></strong>
      </div>
      <div class="entry-items">
        <small><time datetime="{{ post.date }}">{{ post.date | date: "%B" }} {{ d }}{{ ordinal }}, {{ post.date | date: "%Y" }}</time></small>
      </div>
    </div>
    <div>{{ post.content }}</div>
  </article>
{% endfor %}
{% if paginator.total_pages > 1 %}
<div class="pagination">
  <div class="paginate-left">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">← Prev</a>
  {% endif %}
  </div>
  <div class="paginate-center">
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      {{ page }}
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  </div>
  <div class="paginate-right">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next →</a>
  {% endif %}
  </div>
</div>
{% endif %}