---
layout: default
permalink: /resume/
---
{% assign resume = site.data.resume %}
<div class="resume">
  <header>
    <h1>{{ resume.basics.name }}｜<small>{{ resume.basics.label }}</small></h1>
    <a class="left" href="mailto:{{ site.author.email }}">
      <div class="mini-icon">{% include svg-icon.html icon=site.data.icons.email %}</div>
      {{ site.author.email }}
    </a>
    <a class="center" href="https://ca.linkedin.com/in/{{ site.author.linkedin }}">
      <div class="mini-icon">{% include svg-icon.html icon=site.data.icons.linkedin %}</div>
      {{ site.author.linkedin }}
    </a>
    <a class="right" href="https://github.com/{{ site.author.github }}">
      <div class="mini-icon">{% include svg-icon.html icon=site.data.icons.github %}</div>
      {{ site.author.github }}
    </a>
    <a class="center" href="{{ site.author.uri }}">
      <div class="mini-icon">{% include svg-icon.html icon=site.data.icons.web %}</div>
      {{ site.author.uri | replace: 'http://', '' | replace: 'https://', '' }}
    </a>
  </header>
  <div class="resume-section">
    <h2>Technical Skills</h2>
    {% assign t_skills = resume.skills | where: 'level', 'Technical' %}
    {% for item in t_skills %}
    <div class="entry-container">
      <div class="entry-details">
        <small>{{ item.name }}:</small>
      </div>
      <div class="entry-items">
        <strong><small>{{ item.keywords | join: ", " }}</small></strong>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="resume-section">
    <h2>Skill Summary</h2>
    {% assign nt_skills = resume.skills | where: 'level', 'Non-Technical' | first %}
    <ul>
      {% for item in nt_skills.keywords %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="resume-section">
    <h2>Education</h2>
    {% for entry in resume.education %}
    <div class="entry-container">
      <div class="entry-details">
        <div><strong>{{ entry.studyType }} {{ entry.area }}</strong></div>
        <small>{{ entry.institution }}</small>
      </div>
      <div class="entry-dates">
        <small>{{ entry.startDate | date: "%b" }} {{ entry.startDate | date: "%Y" }} &mdash; {{ entry.endDate | date: "%b" }} {{ entry.endDate | date: "%Y" }}</small>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="resume-section">
    <h2>Experience</h2>
    {% for job in resume.work %}
      <div class="entry-container">
        <div class="entry-details">
          <div><strong>{{ job.position }}</strong></div>
          <small>{{ job.company }}</small>
        </div>
        <div class="entry-dates">
          <small>{{ job.startDate | date: "%b" }} {{ job.startDate | date: "%Y" }} &mdash; {{ job.endDate | date: "%b" }} {{ job.endDate | date: "%Y" }}</small>
        </div>
      </div>
      <ul>
        {% for highlight in job.highlights %}
        <li>{{ highlight }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
  <div class="resume-section">
    <h2>Awards, Scholarships, &amp; Achievements</h2>
    {% for award in resume.awards %}
      <div class="entry-container">
        <div class="entry-details">
          <div><strong>{{ award.title }}</strong></div>
          <small>{{ award.summary }}</small>
        </div>
        <div class="entry-dates">
          <small>{{ award.date | date: "%b" }} {{ award.date | date: "%Y" }}</small>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="resume-section">
    <h2>Activities &amp; Interests</h2>
    <dl>
    {% for interest in resume.interests %}
      <dt>{{ interest.name }}</dt>
      <dd>{{ interest.keywords | join: ', ' }}</dd>
    {% endfor %}
    </dl>
  </div>
</div>
