<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="copyright" content="{{ site.title }}">
  <meta name="theme-color" content="#333">

  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="alternate icon" href="/favicon.ico">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#333">

  <link rel="stylesheet" href="{{ "/css/main.css" }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  {% include theme.html %}
</head>
