<header>
  <nav>
    <ul>
      {% for item in site.data.nav %}
        <li>
          {% if item.external %}
            <a target="_blank" href="{{ item.url }}" rel="noreferrer">{{ item.title }}</a>
          {% else %}
            {% assign _url = page.url | replace: '.html', '' %}
            {% if _url == item.url %}
              <a class="active" href="{{ item.url }}">{{ item.title }}</a>
            {% else %}
            <a href="{{ item.url }}">{{ item.title }}</a>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
