<header>
  <nav>
    <ul>
      {% for item in site.data.nav %}
        <li>
        {% if page.url == item.url %}
          <a class="active" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
        {% else %}
          {% if item.external %}
            <a target="_blank" href="{{ site.baseurl }}{{ item.url }}" rel="noreferrer">{{ item.title }}</a>
          {% else %}
            <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
          {% endif %}
        {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div title="Toggle Theme" onclick="toggle();">
    <svg viewBox="0 0 32 32">
      <path d="M25.366 9.375L16 0 6.634 9.375c-5.177 5.176-5.177 13.565 0 18.74A13.22 13.22 0 0016 32c3.387 0 6.783-1.292 9.366-3.884 5.177-5.176 5.177-13.565 0-18.741zM16 28.679a9.84 9.84 0 01-7.023-2.915 9.84 9.84 0 01-2.915-7.023 9.872 9.872 0 012.915-7.03L16 4.686z"/>
    </svg>
  </div>
</header>
