<script type="text/javascript">
  function setVariables(isDark) {
    const root = document.documentElement;
    const colorBackground = isDark ? '#333' : '#ddd';
    const colorForeground = isDark ? '#ddd' : '#333';
    const colorHeader = isDark ? '#ccc' : '#444';

    root.style.setProperty('--color-background', colorBackground);
    root.style.setProperty('--color-foreground', colorForeground);
    root.style.setProperty('--color-header', colorHeader);
  }

  function toggle() {
    const root = document.documentElement;
    const color = getComputedStyle(root).getPropertyValue('--color-background').trim();
    const isDark = color === '#ddd' ? true : false;

    setVariables(isDark);

    localStorage.setItem('theme', isDark ? 'dark' : 'light');
  }

  document.addEventListener('DOMContentLoaded', function () {
    let isDark = localStorage.getItem('theme') !== 'light';
    setVariables(isDark);
  });
</script>
