<script type="text/javascript">
  let lightMediaQuery = window.matchMedia('(prefers-color-scheme: light)');

  function setVariables(isDark) {
    const body = document.body;
    const colorBackground = isDark ? '#333' : '#ddd';
    const colorForeground = isDark ? '#ddd' : '#333';
    const colorHeader = isDark ? '#ccc' : '#444';

    body.style.setProperty('--color-background', colorBackground);
    body.style.setProperty('--color-foreground', colorForeground);
    body.style.setProperty('--color-header', colorHeader);
  }

  function toggle() {
    const body = document.body;
    const color = getComputedStyle(body).getPropertyValue('--color-background').trim();
    const isDark = color === '#ddd' ? true : false;

    setVariables(isDark);

    localStorage.setItem('theme', isDark ? 'dark' : 'light');
  }

  function handleColorSchemeChange(evt) {
    const isLight = evt.matches;
    setVariables(!isLight);
  }

  document.addEventListener('DOMContentLoaded', function () {
    const theme = localStorage.getItem('theme');
    const saved = theme !== null;

    if (saved) {
      setVariables(theme === 'dark');
      return;
    }

    handleColorSchemeChange(lightMediaQuery);
  });

  lightMediaQuery.addListener(handleColorSchemeChange);
</script>
