$size-large: 2.8rem;
$size-normal: 2rem;
$size-small: 1.8rem;
$size-tiny: 1.4rem;
$font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

body {
  --color-background: #333;
  --color-foreground: #ddd;
  --color-header: #ccc;
}

@media screen and (prefers-color-scheme: light) {
  body {
    --color-background: #ddd;
    --color-foreground: #333;
    --color-header: #444;
  }
}

html, body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-foreground);
  display: flex;
  flex-flow: row wrap;
  font-family: $font-family-sans;
  font-size: $size-tiny;
  font-weight: 300;
  min-height: 100vh;
  text-align: center;

  > * {
    flex: 1 100%;
  }
}

h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}

h2 {
  color: var(--color-header);
  font-size: $size-small;
  font-weight: 300;
  margin-top: 0.5rem;

  a {
    color: var(--color-header);
  }
}

ul {
  display: table;
  font-size: $size-tiny;
  font-weight: 400;
  list-style: none;
  margin: $size-tiny auto;
  padding-left: 0;
  text-align: center;

  li {
    display: table-cell;
    list-style: none;
    padding: 0 $size-tiny;
    text-transform: uppercase;
    width: 6rem;
  }

  a {
    color: var(--color-foreground);
    padding-bottom: 0.5rem;
    text-decoration: none;

    &.active {
      border-bottom: 0.2rem solid var(--color-foreground);
    }
  }
}

svg {
  fill: var(--color-foreground);
  height: 12.5rem;
  overflow: visible;
  width: 12.5rem;
}

header {
  align-self: flex-start;
}

main {
  width: 100%;
}

form {
  margin: 0 auto;
  max-width: 30rem;
  width: 100%;
}

label {
  display: block;
  font-size: $size-small;
  margin: 1rem 0;
  text-align: left;
}

button, input, textarea {
  background: var(--color-background);
  border: 2px solid var(--color-foreground);
  box-sizing: border-box;
  color: var(--color-foreground);
  display: block;
  height: 4rem;
  padding: 0.5rem;
  width: 100%;
}

button {
  cursor: pointer;
  margin: 2rem auto;
  width: 15rem;
}

textarea {
  font-family: $font-family-sans;
  height: auto;
  resize: none;
}

footer {
  align-self: flex-end;
  font-size: $size-tiny;
  margin: $size-tiny 0;
  text-align: center;

  div {
    cursor: pointer;
    display: inline-block;
  }

  svg {
    height: 2.2rem;
    stroke: var(--color-foreground);
    width: 2.2rem;
  }
}
