@import url(https://fonts.googleapis.com/css?family=Average:400|Roboto:300,500,700);

html, body {
  font-size:                  62.5%;
  height:                     100%;
  line-height:                1.4;
}

body {
  background-color:           $color-light;
  color:                      $color-dark;
  font-family:                $font-family-sans;
  font-size:                  $font-size-small;
  font-weight:                300;
}

h1, h2, h3 {
  font-weight:                500;
  letter-spacing:             -0.05rem;
}

h1 {
  border-bottom:              0.1rem solid $color-dark;
  font-size:                  $font-size-large;
}

h2 {
  font-size:                  2.6rem;
}

h3 {
  font-size:                  2.4rem;
}

a {
  color:                      #2980b9;
}

blockquote {
  border-left:                0.25rem solid lighten($color-dark, 20%);
  color:                      lighten($color-dark, 20%);
  margin:                     1rem 0;
  padding:                    0 3rem 0 3rem;
}

blockquote p:last-child {
  margin-bottom:              0;
}

code, pre, kbd {
  font-family:                $font-family-mono;
  font-size:                  90%;
}

code {
  background-color:           darken($color-light, 8%);
  color:                      #2980b9;
  padding:                    0.25rem 0.5rem;
}

pre {
  padding:                    2rem;
}

dt {
  font-weight:                700;
}

dd {
  margin-bottom:              1rem;
}

img {
  display:                    block;
  max-width:                  100%;
  margin:                     0 0 1rem;
}

table {
  border-collapse:            collapse;
  border:                     0.1rem solid darken($color-light, 10%);
  margin-bottom:              1rem;
  width:                      100%;
}

td, th {
  border:                     0.1rem solid darken($color-light, 10%);
  padding:                    .25rem .5rem;
}

th, tfoot {
  background-color:           darken($color-light, 10%);
}

tbody tr:nth-child(even) td {
  background-color:           darken($color-light, 5%);
}

.sidebar {
  background-color:           $color-dark;
  color:                      $color-light;
  transition:                 width 0.25s ease;
}

.sidebar-container {
  align-items:                center;
  display:                    flex;
  justify-content:            space-between;
  flex-wrap:                  wrap;
}

.sidebar-container nav {
  align-items:                center;
  display:                    flex;
  flex-direction:             column;
  justify-content:            center;
}

nav a {
  color:                      $color-light;
  text-decoration:            none;
}

nav ul {
  font-size:                  $font-size-script;
  font-weight:                700;
  padding-left:               0;
  text-transform:             uppercase;
}

nav ul li {
  display:                    inline-block;
  list-style:                 none;
  padding:                    0.8rem 0.6rem;
}

.sidebar-item {
  align-items:                center;
  display:                    flex;
  margin:                     0 auto;
}

.sidebar-title {
  display:                    inline-block;
  font-family:                $font-family-serif;
  font-size:                  $font-size-large;
  font-weight:                500;
  padding:                    0 0 0 2rem;
}

.sidebar-title p {
  margin-bottom:              1.5rem;
  margin-top:                 0.5rem;
}

.logo {
  margin:                     2rem 0 2rem 2rem;
  transition:                 width 0.25s ease;
  width:                      7.5rem;
}

.container {
  min-height:                 100vh;
  overflow:                   hidden;
  padding:                    5rem 0 15rem 0;
  position:                   relative;
}

.content {
  margin:                     0 auto;
  padding:                    0 5rem;
}

footer {
  bottom:                     0;
  position:                   absolute;
  text-align:                 center;
  width:                      100%;
}

.contact svg {
  height:                     5rem;
  width:                      5rem;
}

.copyright {
  font-size:                  $font-size-footnote;
}

/*******************************************************************************
Relative units in media queries are based on the initial value, which means
that units are never based on results of declarations. For example, in HTML,
the ‘em’ unit is relative to the initial value of ‘font-size’. (16px)
*******************************************************************************/
@media (min-width: 50rem) {
  body {
    font-size:                $font-size-normal;
  }

  .sidebar {
    bottom:                   0;
    left:                     0;
    position:                 fixed;
    text-align:               center;
    top:                      0;
    width:                    15rem;
  }

  .sidebar-container {
    margin:                   0 auto;
    min-height:               100vh;
  }

  .sidebar-item {
    display:                  block;
    width:                    100%;
  }

  .sidebar-title {
    font-size:                $font-size-larger;
    padding:                  0;
  }

  nav ul {
    margin-top:               0;
  }

  nav ul li {
    display:                  block;
  }

  .logo {
    margin:                   4rem 0 0 0;
    width:                    10rem;
  }

  .container {
    margin-left:              15rem;
    padding-top:              10rem;
  }

  .content {
    max-width:                58rem;
  }
}

@media (min-width: 60rem) {
  .sidebar {
    width:                    20rem;
  }

  .logo {
    width:                    15rem;
  }

  .sidebar-title {
    font-size:                5rem;
  }

  .container {
    margin-left:              20rem;
  }

  .content {
    max-width:                62rem;
  }
}

@media (min-width: 80rem) {
  .sidebar {
    width:                    30rem;
  }

  .logo {
    width:                    17.5rem;
  }

  .sidebar-title {
    font-size:                $font-size-huge;
  }

  .container {
    margin-left:              30rem;
  }

  .content {
    max-width:                72rem;
  }
}