@import url(https://fonts.googleapis.com/css?family=Roboto:300,500,700);

html, body {
  font-size:                  62.5%;
  height:                     100%;
}

body {
  background-color:           $color-light;
  color:                      $color-dark;
  font-family:                $base-font-family;
  font-size:                  $font-size-small;
  font-weight:                300;
}

h1 {
  border-bottom:              0.1rem solid $color-dark;
  font-size:                  $font-size-large;
  font-weight:                500;
  letter-spacing:             -0.1rem;
}

.sidebar {
  background-color:           $color-dark;
  color:                      $color-light;
  transition:                 width 0.25s ease;
}

.sidebar-container {
  display:                    flex;
  justify-content:            space-between;
  flex-wrap:                  wrap;
}

.sidebar-container nav {
  align-items:                center;
  display:                    flex;
  flex-direction:             column;
  justify-content:            center;
}

nav ul {
  font-size:                  $font-size-script;
  font-weight:                700;
  padding-left:               0;
  text-transform:             uppercase;
}

nav ul li {
  display:                    inline-block;
  list-style:                 none;
  padding:                    0.8rem 0.6rem;
}

.sidebar-item {
  align-items:                center;
  display:                    flex;
  margin:                     0 auto;
}

.sidebar-title {
  display:                    inline-block;
  font-size:                  2.4rem;
  font-weight:                700;
  padding:                    0 0 0 2rem;
  text-transform:             uppercase;
}

.title-first {
  margin-right:               4rem;
}

.title-second {
  margin:                     -3rem 0 0 3rem;
}

.logo {
  margin:                     2rem 0 2rem 2rem;
  transition:                 width 0.25s ease;
  width:                      7.5rem;
}

.container {
  min-height:                 100vh;
  overflow:                   hidden;
  padding:                    5rem 0 15rem 0;
  position:                   relative;
}

.content {
  margin:                     0 auto;
  padding:                    0 5rem;
}

footer {
  bottom:                     0;
  position:                   absolute;
  text-align:                 center;
  width:                      100%;
}

.contact svg {
  height:                     5rem;
  width:                      5rem;
}

.copyright {
  font-size:                  $font-size-footnote;
}

/*******************************************************************************
Relative units in media queries are based on the initial value, which means
that units are never based on results of declarations. For example, in HTML,
the ‘em’ unit is relative to the initial value of ‘font-size’. (16px)
*******************************************************************************/
@media (min-width: 50rem) {
  body {
    font-size:                $font-size-normal;
  }

  .sidebar {
    bottom:                   0;
    left:                     0;
    position:                 fixed;
    text-align:               center;
    top:                      0;
    width:                    15rem;
  }

  .sidebar-container {
    margin:                   0 auto;
    min-height:               100vh;
  }

  .sidebar-item {
    display:                  block;
    width:                    100%;
  }

  .sidebar-title {
    padding:                  0;
  }

  nav ul {
    margin-top:               0;
  }

  nav ul li {
    display:                  block;
  }

  .logo {
    margin:                   4rem 0 0 0;
    width:                    10rem;
  }

  .container {
    margin-left:              15rem;
    padding-top:              10rem;
  }

  .content {
    max-width:                58rem;
  }
}

@media (min-width: 60rem) {
  .sidebar {
    width:                    20rem;
  }

  .logo {
    width:                    15rem;
  }

  .sidebar-title {
    font-size:                3rem;
  }

  .container {
    margin-left:              20rem;
  }

  .content {
    max-width:                62rem;
  }
}

@media (min-width: 80rem) {
  .sidebar {
    width:                    30rem;
  }

  .logo {
    width:                    17.5rem;
  }

  .container {
    margin-left:              30rem;
  }

  .content {
    max-width:                72rem;
  }
}