html, body {
  font-size:                  62.5%;
  height:                     100%;
}

body {
  background-color:           $color-light;
  color:                      $color-dark;
  font-family:                $font-family-sans;
  font-size:                  $font-size-script;
  font-weight:                300;
}

h1, h2, h3 {
  font-weight:                500;
  letter-spacing:             -0.05rem;
}

h1 {
  border-bottom:              0.1rem solid $color-dark;
  font-size:                  $font-size-large;
}

h2 {
  font-size:                  2.4rem;
}

h3 {
  font-size:                  2.2rem;
}

time {
  font-size:                  90%;
  font-style:                 italic;
}

small {
  font-size:                  90%;
}

a {
  color:                      #2980b9;
}

blockquote {
  border-left:                0.25rem solid lighten($color-dark, 20%);
  color:                      lighten($color-dark, 20%);
  margin:                     1rem 0;
  padding:                    0 3rem 0 3rem;
}

blockquote p:last-child {
  margin-bottom:              0;
}

code, pre, kbd {
  font-family:                $font-family-mono;
  font-size:                  90%;
}

code {
  background-color:           darken($color-light, 8%);
  color:                      #2980b9;
}

pre {
  padding:                    2rem;
}

dt {
  font-weight:                700;
}

dd {
  margin-bottom:              1rem;
  margin-left:                2rem;
}

img {
  border-radius:              0.2rem;
  display:                    block;
  margin:                     0 0 1rem;
}

table {
  border-collapse:            collapse;
  border:                     0.1rem solid darken($color-light, 10%);
  margin-bottom:              1rem;
  width:                      100%;
}

td, th {
  border:                     0.1rem solid darken($color-light, 10%);
  padding:                    .25rem .5rem;
}

th, tfoot {
  background-color:           darken($color-light, 10%);
}

tbody tr:nth-child(even) td {
  background-color:           darken($color-light, 5%);
}

.sidebar {
  background-color:           $color-dark;
  color:                      $color-light;
  transition:                 width 0.25s ease;
}

.sidebar-container {
  align-items:                center;
  display:                    flex;
  justify-content:            space-between;
  flex-wrap:                  wrap;
}

.sidebar-container nav {
  align-items:                center;
  display:                    flex;
  flex-direction:             column;
  justify-content:            center;
}

nav a {
  color:                      $color-light;
  text-decoration:            none;
}

nav a.active {
  color:                      #666;
}

nav ul {
  font-size:                  $font-size-script;
  font-weight:                700;
  padding-left:               0;
  text-transform:             uppercase;
}

nav ul li {
  display:                    inline-block;
  list-style:                 none;
  padding:                    0.8rem 0.6rem;
}

.sidebar-item {
  align-items:                center;
  display:                    flex;
  margin:                     0 auto;
}

.sidebar-title {
  display:                    inline-block;
  font-family:                $font-family-serif;
  font-size:                  $font-size-large;
  font-weight:                500;
  margin-top:                 1rem;
}

.sidebar-title p {
  margin-bottom:              1.5rem;
  margin-top:                 0.5rem;
}

.logo svg {
  margin:                     1rem;
  transition:                 width 0.25s ease;
  width:                      7.5rem;
}

.container {
  line-height:                1.5;
  min-height:                 calc(100vh - 16rem);
  overflow:                   hidden;
  padding:                    0rem 0 0rem 0;
  position:                   relative;
}

.content {
  margin:                     0 auto;
  min-height:                 100%;
  margin-top:                 3rem;
  padding:                    0 1.5rem;
}

.content:after {
  content:                    "";
  display:                    block;
  height:                     15rem;
}

.content-post img {
  max-width:                  100%;
}

footer {
  bottom:                     0;
  height:                     15rem;
  position:                   absolute;
  text-align:                 center;
  width:                      100%;
}

.contact {
  align-items:                center;
  display:                    flex;
  margin:                     0 auto;
  max-width:                  24rem;
}

.contact svg {
  height:                     5rem;
  width:                      5rem;
}

.contact-icon {
  color:                      $color-dark;
  font-size:                  $font-size-tiny;
  font-weight:                500;
  text-decoration:            none;
  width:                      6rem;
}

.site-info {
  font-size:                  $font-size-footnote;
}

.summary-title {
  text-decoration:            none;
}

.summary-title h2 {
  border-bottom:              0.1rem solid $color-dark;
  color:                      $color-dark;
  margin-top:                 0;
  text-decoration:            none;
}

.mini-icon {
  display:                    none;
  height:                     2rem;
  vertical-align:             middle;
  width:                      2rem;
}

.resume {
  font-size:                  $font-size-footnote;
  margin-bottom:              5rem;
}

.resume header {
  text-align:                 center;
}

.resume header a {
  color:                      $color-dark;
  text-decoration:            none;
}

.resume h1 {
  border:                     none;
  font-family:                $font-family-serif;
  font-size:                  $font-size-larger;
  font-weight:                700;
  margin-bottom:              0;
  margin-top:                 0;
}

.resume h2 {
  border-bottom:              0.1rem solid $color-dark;
  font-size:                  2.4rem;
}

.resume h2.title {
  border:                     none;
  color:                      #555;
  font-family:                $font-family-serif;
  font-size:                  2.5rem;
  font-weight:                500;
  letter-spacing:             0;
  margin-top:                 0;
}

.resume .left-header {
  text-align:                 left;
}

.resume .right-header {
  text-align:                 left;
}

.resume .summary p {
  text-align:                 justify;
}

.resume-contact {
  font-size:                  $font-size-footnote;
}

.resume .contact-label {
  display:                    inline-block;
  font-weight:                500;
}

.resume .right-detail {
  font-weight:                300;
}

.resume .download {
  margin-top:                 5rem;
}

.item {
  margin-top:                 0.5rem;
}

.date {
  font-size:                  90%;
}

.not-found {
  text-align:                 center;
}

.not-found strong {
  color:                      #444;
  font-size:                  $font-size-huge;
}

.pagination {
  display:                    flex;
  margin:                     5rem 0;
}

.pagination > * {
  width:                      33%;
}

.paginate-left {
  text-align:                 left;
}

.paginate-center {
  text-align:                 center;
}

.paginate-right {
  text-align:                 right;
}

.post-grid {
  width:                      100%;
}

.post-griditem {
  border-radius:              0.2rem;
  box-shadow:                 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1), 0px 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  margin:                     2rem auto;
  width:                      100%;
}

.post-griditem .item {
  font-size:                  $font-size-footnote;
}

.post-griditem .excerpt {
  font-size:                  $font-size-footnote;
}

.post-image {
  border-radius:              0.2rem 0.2rem 0 0;
  overflow:                   hidden;
  text-align:                 center;
}

.post-image img {
  left:                       50%;
  position:                   relative;
  transform:                  translate(-50%,0);
}

.post-details {
  padding:                    1rem;
}

/*******************************************************************************
Relative units in media queries are based on the initial value, which means
that units are never based on results of declarations. For example, in HTML,
the ‘em’ unit is relative to the initial value of ‘font-size’. (16px)
*******************************************************************************/
@media (min-width: 50rem) {
  body {
    font-size:                $font-size-normal;
  }

  .sidebar {
    bottom:                   0;
    left:                     0;
    position:                 fixed;
    text-align:               center;
    top:                      0;
    width:                    15rem;
  }

  .sidebar-container {
    margin:                   0 auto;
    min-height:               100vh;
  }

  .sidebar-item {
    display:                  block;
    width:                    100%;
  }

  .sidebar-title {
    font-size:                $font-size-larger;
    padding:                  0;
  }

  nav ul {
    margin-top:               0;
  }

  nav ul li {
    display:                  block;
  }

  .logo svg {
    width:                    10rem;
  }

  .container {
    margin-left:              15rem;
    min-height:               100vh;
  }

  .content {
    font-size:                $font-size-footnote;
    margin-top:               8rem;
    max-width:                58rem;
    padding:                  0 3rem;
  }

  .item::after {
    clear:                    both;
    content:                  "";
    display:                  table;
  }

  .left {
    float:                    left;
  }

  .right {
    float:                    right;
    text-align:               right;
  }

  .resume .right-header {
    text-align:               right;
  }

  .resume .contact-label {
    display:                  none;
  }

  .resume .right-detail {
    font-weight:                500;
  }

  .mini-icon {
    display:                  inline-block;
  }
}

@media (min-width: 60rem) {
  .sidebar {
    width:                    20rem;
  }

  .logo svg {
    width:                    15rem;
  }

  .sidebar-title {
    font-size:                5rem;
  }

  .container {
    margin-left:              20rem;
  }

  .content {
    font-size:                $font-size-small;
    max-width:                62rem;
    padding:                  0 5rem;
  }

  .resume {
    font-size:                $font-size-small;
  }
}

@media (min-width: 80rem) {
  .sidebar {
    width:                    30rem;
  }

  .logo svg {
    width:                    17.5rem;
  }

  .sidebar-title {
    font-size:                $font-size-huge;
  }

  .container {
    margin-left:              30rem;
  }

  .content {
    font-size:                $font-size-normal;
    max-width:                72rem;
  }
}
