/*******************************************************************************
 Colors
*******************************************************************************/

$color-dark:                  #333;
$color-light:                 #f6f6f6;

/*******************************************************************************
 Fonts
*******************************************************************************/
$font-size-body:              1.8rem;
$base-font-family:            Roboto, Helvetica, Arial, sans-serif;
