/*******************************************************************************
 Colors
*******************************************************************************/

$color-dark:                  #333;
$color-light:                 #f6f6f6;

/*******************************************************************************
 Fonts
*******************************************************************************/
$font-size-main:              1.8rem;
$font-size-small:             1.6rem;
$font-size-tiny:              1.4rem;
$base-font-family:            Roboto, Helvetica, Arial, sans-serif;
