<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="sidebar">
      <div class="sidebar-container">
        <div class="sidebar-item">
          {% include logo.html %}
          <div class="sidebar-title">
            <p class="title-first">
              Mark
            </p>
            <p class="title-second">
              Berger
            </p>
          </div>
        </div>
        <div class="sidebar-item">
          {% include nav.html %}
        </div>
        <div class="sidebar-item">
        </div>
      </div>
    </div>
    <main>
      <div class="container">
        {% include header.html %}
        <div class="content">
        {{ content }}
        </div>
        {% include footer.html %}
      </div>
    </main>
  </body>
</html>
